/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none;
  color: #0366d6;
}

a.active {
  font-weight: bold;
  color: #d6336c;
}

/* styles.scss (global) */
.error-message { 
  color: #c62828; 
  white-space: pre-line; 
}

.success-message { 
  color: #2e7d32; 
}
